<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

    <sql id="criteria">
        <where>
            <trim prefixOverrides="OR">
                <foreach collection="typeArr" item="type">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                title like concat('%',#{keyword},'%')
                            </when>
                            <when test="type == 'C'.toString()">
                                content like concat('%',#{keyword},'%')
                            </when>
                            <when test="type == 'W'.toString()">
                                writer like concat('%',#{keyword},'%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </where>
    </sql>


    <select id="getList" resultType="org.zerock.domain.BoardVO">
    <![CDATA[
            select * from tbl_board
        ]]>
    </select>
<!--toString 붙이는 이유 한글자일경우 char형으로 인식하여 NumberFormatException이 발생
-->
    <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">

        select * from tbl_board
                 <include refid="criteria"></include>
                 order by bno desc limit #{beginPage}, #{amount}

    </select>


    <select id="getTotalCount" resultType="int">
        select count(*) from tbl_board <include refid="criteria"></include>
    </select>


    <insert id="insert">
        insert into tbl_board(title,content,writer) values (#{title}, #{content}, #{writer})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select max(bno)+1 from tbl_board
        </selectKey>
            insert into tbl_board (bno,title,content,writer) values (#{bno},#{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="org.zerock.domain.BoardVO">
        select * from tbl_board where bno = #{bno}
    </select>

    <delete id="delete">
        delete from tbl_board where bno = #{bno}
    </delete>


    <update id="update" parameterType="org.zerock.domain.BoardVO">
        update tbl_board set
                             title = #{title},
                             content = #{content},
                             writer = #{writer},
                             updateDate = (CURRENT_DATE)
        where bno = #{bno}
    </update>

    <update id="updateReplyCnt" >
        update tbl_board set replyCnt = replyCnt + #{amount} where bno = #{bno}
    </update>
</mapper>